.home {
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  background-color: #f4dcf6;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  margin-top: 20px;
  /*pentru mai multe retete pe linie*/

  /* margin-left: 80px;
  margin-right: 80px;
  flex-wrap: wrap;*/
}

.popular-recipes {
  margin-top: 20px;
  color: #590865;
}

.latest-recipes {
  color: #590865;
}

.footer {
  margin-top: 40px;
  background-color: #f4dcf6;
  color: #590865;
  padding: 40px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 18px;
}
