.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(243, 229, 245, 0.8);
  z-index: 1000;
  transition: top 0.3s; /* animație pentru tranziția de înălțime (apare/dispare) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* adăugare umbre */
  padding: 10px;
  padding-left: 80px;
  font-weight: bold;
}

.navbar.hidden {
  top: -100px; /* ascunde bara de navigare deasupra ecranului */
}

/* Stil pentru link-uri */
.navbar .ant-menu-item a,
.categories-submenu {
  color: #8e24aa; /* culoare mov pentru link-uri */
}

/* Stil pentru input */
.navbar .ant-input {
  background-color: #fce4ec; /* culoare roz deschis pentru input */
}

/* Stil pentru buton */
.navbar .ant-btn-primary {
  background-color: #8e24aa; /* culoare mov pentru buton */
  border-color: #8e24aa; /* culoare bordură pentru buton */
}

/* Stil pentru iconițe */
.navbar .anticon svg {
  fill: #8e24aa; /* culoare mov pentru iconițe */
}

.navbar .camera-scan {
  margin-left: 40%;
}

/* camera*/
/* Stil pentru modal */

.camera-modal {
  margin-top: -80px;
  height: 600px !important;
  width: 850px !important;
}

.camera-modal-video {
  width: 100%;
  height: 600px;
}

.camera-modal .ant-modal-title {
  color: #8e24aa;
  font-size: 20px;
  background-color: #f4dcf6;
}

.camera-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: Add a background color to the footer */
}

.camera-modal .ant-modal-content {
  background-color: #f4dcf6; /* Optional: Add a background color to the footer */
}

.camera-modal-button {
  height: 50px;
  width: 50px;
  background-color: #fce4ec;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: -150px;
}

.camera-modal-action-button {
  height: 40px;
  width: 40px;
  background-color: #8e24aa;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: -150px;
  margin-left: -45px;
}
