.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(243, 229, 245, 0.8);
  z-index: 1000;
  transition: top 0.3s; /* animație pentru tranziția de înălțime (apare/dispare) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* adăugare umbre */
  padding: 10px;
  padding-left: 50px;
  font-weight: bold;
  backdrop-filter: blur(2px);
}

.navbar.hidden {
  top: -100px; /* ascunde bara de navigare deasupra ecranului */
}

/* Stil pentru link-uri */
.navbar .ant-menu-item a,
.categories-submenu {
  color: #8e24aa; /* culoare mov pentru link-uri */
}

/* Stil pentru input */
.navbar .ant-input {
  background-color: #fce4ec; /* culoare roz deschis pentru input */
}

/* Stil pentru buton */
.navbar .ant-btn-primary {
  background-color: #8e24aa; /* culoare mov pentru buton */
  border-color: #8e24aa; /* culoare bordură pentru buton */
}

/* Stil pentru iconițe */
.navbar .anticon svg {
  fill: #8e24aa; /* culoare mov pentru iconițe */
}

.navbar .camera-scan {
  margin-left: 35%;
}

.drawer-title {
  color: #8e24aa !important;
  font-size: 1.2rem;
}
/* camera*/
/* Stil pentru modal */

.camera-modal {
  margin-top: -80px;
  height: 600px !important;
  width: 850px !important;
  box-shadow: 0 0 20px 50px rgba(68, 9, 91, 0.1);
}

.camera-modal-video {
  width: 100%;
  height: 600px;
}

.camera-modal .ant-modal-title {
  color: #8e24aa;
  font-size: 20px;
  background-color: #f4dcf6;
}

.camera-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: Add a background color to the footer */
}

.camera-modal .ant-modal-content {
  background-color: #f4dcf6; /* Optional: Add a background color to the footer */
}

.camera-modal-button {
  height: 50px;
  width: 50px;
  background-color: #fce4ec;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: -150px;
  position: absolute;
}

.camera-modal-action-button {
  height: 40px;
  width: 40px;
  background-color: #8e24aa;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: -150px;
  position: absolute;
}

.camera-modal-image {
  width: 600px;
  height: 560px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 850px;
  max-height: 600px;
  margin-left: 12%;
  border-radius: 40px;
  box-shadow: 0 0 20px 10px rgba(68, 9, 91, 0.1);
}

.view_recipe_based_on_ingredients {
  margin-left: 330px;
  margin-top: -10px;
}

.view_recipe_based_on_ingredients_link {
  font-size: 1.3rem;
  color: #f0f0f0 !important;
  text-decoration: none !important;
}

.hidden-desktop {
  display: none;
}

.drawer {
  background-color: #f4dcf6 !important;
  backdrop-filter: blur(3px) !important;
}

.categories-drawer,
.logout-drawer,
.camera-scan-drawer,
.myprofile-drawer,
.about-drawer {
  color: #8e24aa !important;
  font-weight: bold !important;
}

.camera-scan-drawer,
.myprofile-drawer {
  font-size: 1.2rem !important;
}

@media screen and (max-width: 1024px) {
  .navbar .camera-scan {
    margin-left: 10%;
  }

  .navbar {
    padding: 10px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .camera-modal {
    width: 90vw;
    height: 90vh;
  }

  .camera-modal-image {
    width: 90vw;
    height: 90vh;
    max-width: 90vw;
    max-height: 90vh;
    margin-left: 0%;
  }

  .camera-modal-video {
    width: 85vw;
    height: 90vh;
    margin-left: 20px;
  }

  .view_recipe_based_on_ingredients {
    margin-left: 40%;
  }

  .hidden-mobile {
    display: none;
  }

  .hidden-desktop {
    display: block;
    margin-top: 15px;
  }
  .navbar .camera-scan {
    margin-left: 55%;
  }
}

@media screen and (max-width: 480px) {
  .camera-modal-image {
    margin-left: -4%;
  }
  .view_recipe_based_on_ingredients {
    margin-left: 28%;
  }
  .camera-modal-video {
    margin-left: -3px;
  }
  .hidden-mobile {
    display: none;
  }
  .navbar {
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .camera-modal-image {
    width: 90vw;
    height: 90vh;
    max-width: 90vw;
    max-height: 90vh;
    margin-left: -6%;
  }
  .camera-modal-video {
    width: 85vw;
    height: 90vh;
  }
  .view_recipe_based_on_ingredients {
    margin-left: 25%;
  }
  .camera-modal-video {
    margin-left: -7px;
  }

  /* stiluri pt navbar */
  .navbar {
    padding-left: 10px;
    overflow: hidden;
  }
  .navbar-home {
    font-size: 1rem;
  }
}
