.profilepage {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}

.profiledetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(68, 9, 91, 0.1);
  background-color: #fff;
  flex: 1;
}

.profileimage {
  width: 300px;
  height: 290px;
  border-radius: 10px;
  margin-left: 10px;
  border-top-left-radius: 10px;
}

.description-group {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #590865;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #8e24aa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.description-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.description-button,
.form-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

button:hover {
  background-color: #6a1b9a;
}

button:focus {
  outline: none;
}

h1 {
  color: #590865; /* Mov închis */
  background-color: #f4dcf6;
  border-radius: 10px;
}

.myrecipes,
.myfavorites,
.following {
  display: flex;
  flex-direction: column;
  color: #590865;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(68, 9, 91, 0.1);
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  flex: 1;
}

.following {
  margin-bottom: 20px;
}

.myrecipes-container,
.following-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  align-items: center;
  justify-content: center;
  /*pentru mai multe retete pe linie*/

  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
}

.description-field,
.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f0e6f4; /* Mov deschis */
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-width: 30%;
  height: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-text.editing {
  border-color: #8e24aa;
  box-shadow: 0 0 5px rgba(68, 9, 91, 0.3);
}

.form-text.editing {
  border-color: #8e24aa;
  box-shadow: 0 0 5px rgba(68, 9, 91, 0.3);
}

.no-favorites-message,
.no-following-message {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .profileimage {
    padding: 20px;
  }

  .myrecipes-container,
  .following-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .description-field,
  .form-field {
    height: 280px;
  }

  .form {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profileimage {
    width: 230px;
    padding: 20px;
  }

  .myrecipes-container,
  .following-container {
    flex-wrap: wrap;
  }

  .profiledetails {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .description,
  .form {
    width: 300px;
  }

  .description-field,
  .form-field {
    height: 250px;
    width: 300px;
    max-width: 300px;
  }

  .form {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }

  .profileimage {
    width: 150px;
    height: 150px;
  }

  .description-field,
  .form-field {
    height: 300px;
    width: 240px;
    max-width: 240px;
  }

  .description,
  .form {
    height: 300px;
    width: 250px;
    max-width: 250px;
    align-items: center;
    justify-content: center;
  }

  .form {
    margin-top: 0;
  }

  .myrecipes-container,
  .myfavorites-container,
  .following-container {
    gap: 30px;
  }

  h2 {
    margin-bottom: 40px;
  }
}
