/* login.css */
.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f4dcf6;
}

.register-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 100%;
  max-width: 50%;
  border: 2px solid #c68ee7;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(68, 9, 91, 0.1);
}

.register-form h2 {
  color: #590865;
  font-size: 2rem;
}

.register-form label {
  font-weight: bold;
  color: #9a2adf;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d6aded;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #9a2adf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.register-form button:hover {
  background-color: #590865;
}

.password-input-container {
  position: relative;
}

.password-toggle-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-80%);
  cursor: pointer;
}

.joinButton {
  font-size: 18px;
  color: #590865;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .register-form {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .register-form {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .register-form {
    max-width: 100%;
  }

  .register-container {
    margin-bottom: 40px;
    padding: 20px;
    margin-bottom: 10px;
  }
  .register {
    flex-direction: column;
    height: 100vh;
  }

  .register-form h2 {
    color: #590865;
    font-size: 1.6rem;
    margin-bottom: 0px;
  }

  .slideShowImage {
    display: none;
  }
  .slideShow {
    display: none;
  }
  /*
  .slideShowImage {
    height: 50%;
    width: 100%;
  }

  .slideShow {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
  */
}
